@model List<Test_AdminPanel.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <script src="~/jQuery-Paging/jquery.paging.js"></script>
    <script src="~/jQuery-Paging/jquery.paging.min.js"></script>
    <script src="~/DataTable/DataTables-1.11.3/js/jquery.dataTables.js"></script>
    <link href="~/DataTable/DataTables-1.11.3/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
   

    <style>
        .imggallery {
            height: 80px;
            width: 80px;
            -webkit-transition: all .4s ease-in;
        }

            .imggallery:hover {
                height: 150px;
                width: 150px;
            }
        #sayfalama a {
            color: #fff;
            background: #333;
            padding: 3px 7px;
            margin-right: 6px;
            text-decoration: none;
        }

        #sayfalama a.aktiv {
            background: #006400;
        }
    </style>
</head>

<h2 style="text-align:center"> User List</h2>

<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Users</h3>
                </div>
                <div class="col-sm-6">
                    <div class="bookmark">
                        <ul>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                            <li>
                                <a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                                <form class="form-inline search-form">
                                    <div class="form-group form-control-search">
                                        <input type="text" placeholder="Search..">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>ADY</h5><span>User List</span>
                    </div>
                    <div class="card-body">
                        <div style="position: relative; height: auto; width: 100%;">
                            <div class="jsgrid-control-field jsgrid-align-left">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("Admin"))
                                    {
                                        <a class="btn btn-success" href="/User/Index">New User</a>
                                    }

                                }

                            </div>

                            <div class=" jsgrid-control-field jsgrid-align-right">
                                <form method="get" asp-action="Index" asp-controller="Main">

                                    <input type="search" value="@ViewData["GetEmployeedetails"]" name="Empsearch" />
                                    <input class="btn btn-primary" type="submit" value="Search" />

                                </form>
                            </div>
                            <br />

                            <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                                <table id="liste" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Şəkil</th>
                                            <th>Ad</th>
                                            <th>Soyad</th>
                                            <th>Ata adı</th>
                                            <th>Doğum tarixi</th>
                                            <th>İstifadəçi adı</th>
                                            <th>İstifadəçi şifrə</th>
                                            <th>Stansiya adı</th>
                                            <th>Kassa nömrəsi</th>
                                            <th>İstifadəçi yaranma tarixi</th>

                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                if (User.IsInRole("Admin"))
                                                {
                                                    <th>Düzəliş et</th>

                                                }

                                            }

                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                if (User.IsInRole("Delete") || User.IsInRole("Admin"))
                                                {
                                                    <th>Sil</th>

                                                }

                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @user.UserID
                                                    <img src="@FileLocation.RetriveFileFromFolder@user.ProfilePicture"
                                                         class="rounded-circle  img-thumbnail imggallery"
                                                         asp-append-version="true" />

                                                </td>
                                                <td>@user.UserFirstName</td>
                                                <td>@user.UserLastName</td>
                                                <td>@user.UserFatherName</td>
                                                <td>@(((DateTime)user.BirthdayDate).ToString("dd.MM.yyyy"))</td>
                                                <td>@user.UserName</td>
                                                <td>@user.UserPassword</td>
                                                <td>@user.station.StationName</td>
                                                <td>@user.KassaID</td>
                                                <td>@(((DateTime)user.UserCreateDate).ToString("dd.MM.yyyy"))</td>

                                                <td>
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        if (User.IsInRole("Admin"))
                                                        {

                                                            <a id="btn1" class="btn btn-primary" href="@Url.Action("Edit", "User", new { Id = user.UserID})">Edit</a>
                                                        }

                                                    }
                                                </td>

                                                <td>
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        if (User.IsInRole("Delete") || User.IsInRole("Admin"))
                                                        {

                                                            <span id="confirmDeleteSpan_@user.UserID" style="display:none">
                                                                <span><b>Silmək istədiyinizə əminsiniz?</b></span>
                                                                <a id="btn1" class="btn btn-danger" href="@Url.Action("UserDelete", "User", new { Id = user.UserID})">Yes</a>
                                                                <a href="#" class="btn btn-primary"
                                                                   onclick="confirmDelete('@user.UserID', false)">No</a>
                                                            </span>

                                                            <span id="deleteSpan_@user.UserID">
                                                                <a href="#" class="btn btn-danger"
                                                                   onclick="confirmDelete('@user.UserID', true)">Delete</a>
                                                            </span>

                                                        }

                                                    }

                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                            <br />

                            <div class="jsgrid-pager ">
                                <div id="sayfalama">
                                    Pages:
                                </div>
                            </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    function confirmDelete(uniqueId, isDeleteClicked) {
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
</script>

<script>
    $(function () {

        var toplamLi = $('#liste >tbody >tr').length;
        alert(toplamLi);
        
        var veriSayisi = 5;


        $("table tr:gt(" + veriSayisi + ")").hide();


        var sayfaSayisi = Math.ceil(toplamLi / veriSayisi);


        for (var i = 1; i <= sayfaSayisi; i++) {
            $("#sayfalama").append('<a  href="javascript:void(0)">' + i + '</a>');

        }
        $("#sayfalama a:first").addClass("aktiv");

        $("#sayfalama a").on("click", function () {
            var indis = $(this).index() + 1;
            var gt = veriSayisi * indis;
            $("#sayfalama a").removeClass("aktiv");
            $(this).addClass("aktiv");
            $("#liste >tbody >tr").hide();
            for (i = gt - veriSayisi; i < gt; i++) {
                $("table tr:eq(" + i + ")").show();
            }


        });

    });

</script>
