@using Test_AdminPanel.Models
@model List<Map_UserRole>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>

<h2 style="text-align:center"> Role List</h2>

<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Role List</h3>
                </div>

            </div>
        </div>
    </div>

    <div class="card-body">
        <div style="position: relative; height: auto; width: 100%;">
            <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                <table id="example" class="table table-striped" style="padding-left:30%">
                    <thead>
                        <tr>
                            <th>UserID</th>
                            <th>RoleId</th>
                            <th>RoleName</th>
                            <th>IsActive</th>
                            <th>CreateDate</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model)
                        {
                            <tr>
                                <td>@role.UserID</td>
                                <td>@role.RoleID</td>
                                <td>@role.RoleName</td>
                                <td>@role.IsActive</td>
                                <td>@role.CreateDate</td>
                                
                                <td>
                                   
                                    <a id="btn1" class="btn btn-primary" href="@Url.Action("Edit", "Role", new { Id = role.UserRoleID})">Edit</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
